@font-face {
    font-family: Din;
    src: url("../fonts/din_condensed_webfont.ttf");
}
@font-face {
    font-family: Proxima-Regular;
    src: url("../fonts/ProximaNova-Regular.ttf");
}
@font-face {
    font-family: Proxima-Semi;
    src: url("../fonts/ProximaNova-Semibold.ttf");
}

.icon svg{
    width: 20px;
    margin: 0 5px;
}

.inner{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 75px 65px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.brand{
    width: 100%;
    padding-bottom: 17px;
}
.branding{
    font-family: Din;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    letter-spacing: .075em;
    line-height: .9em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}
.iconRow {
    padding: 17px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.links, .copyright{
    padding: 17px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 12px;
}
.link{
    padding-right: 1em;
    color: rgba(82,82,82,.7);
    font-family: Proxima-Semi;
    font-weight: 600;
    font-style: normal;
    font-size: 9.75px;
    letter-spacing: .2em;
    text-transform: uppercase;
}
.copyright{
    font-family: Proxima-Semi;
}
