body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Din;
  src: url("./fonts/din_condensed_webfont.ttf");
}

@font-face {
  font-family: Proxima-Regular;
  src: url("./fonts/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: Proxima-Semi;
  src: url("./fonts/ProximaNova-Semibold.ttf");
}

html,
body {
  padding: 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.site {
  border: 10px solid #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  /*max-width: 600px;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*object-fit: cover;*/
  /*object-fit: contain;*/
}

footer {
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  font-family: Din;

}

p {
  font-family: Proxima-Regular;
  color: rgba(82, 82, 82, .6);
}
section{
  /*padding: 40px 65px;*/
}


.left.col,
.right.col {
  width: 25%;
}

.mid.col {
  width: 50%;
}

.navlink {
  display: inline-block;
  vertical-align: middle;
  /*padding: 15px 20px;*/
  color: rgba(82, 82, 82, .7);
  margin: 0 .618em;
  padding: .618em 0;
  font-family: Proxima-Semi;
  font-weight: 600;
  font-style: normal;
  font-size: 9.75px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

[data-icon='shopping-cart'] {
  color: rgba(82, 82, 82, .7);
  font-size: 12px;
}


button {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 1em 2.5em;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase !important;
  background-color: transparent;
  color: #222;
  font-weight: 600;
  border-radius: 3px !important;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: 0.1s background-color linear, 0.1s color linear;
  -moz-transition: 0.1s background-color linear, 0.1s color linear;
  -o-transition: 0.1s background-color linear, 0.1s color linear;
  transition: 0.1s background-color linear, 0.1s color linear;
}

button:hover {
  background-color: #222;
  color: #fff;
}

.spacer {
  position: relative;
  height: auto;
  padding-top: 17px;
  padding-bottom: 17px;
}

/*ABOUT*/
.about-row {
  padding-top: 17px;
  width: auto !important;
  margin-left: -17px;
  margin-right: -17px;
}

.about-image {
  /*padding-left: 17px;*/
  /*padding-right: 17px;*/
}

.column {
  float: left;
}

.mid-column {
  width: 50%
}

.side-column {
  width: 25%
}

/*CONTACT*/
.form-container {
  font-family: Proxima-Regular;
}

.form-container h2,
.form-container p {
  text-align: center;
}

.form-container h2 {
  font-family: Din;
}

.form-container p {
  color: rgba(82, 82, 82, .6);
}

.button-wrapper {
  text-align: center;
}
